header{
    position: sticky;
}

h1 {
    text-align: Left;
    padding-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

body{
    margin-top: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}